
<!DOCTYPE html>
<html>
<head>
<title>Add Coaching Action</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Add Coaching Action</h1>
<form action="/add_coaching_action" method="post">
<label for="coach_name">Coach Name:</label>
<input type="text" name="coach_name">
<br>
<label for="action">Action:</label>
<input type="text" name="action">
<br>
<label for="date">Date:</label>
<input type="date" name="date">
<br>
<input type="submit" value="Add Coaching Action">
</form>
</body>
</html>


